/* Including styles files */
@import sprite.sass
@import fonts.sass
@import grid.sass
@import '../../libs/fancybox/dist/jquery.fancybox.css'
@import '../../libs/slick-carousel/slick/slick.css'


/* Global settings */
$font-size: 15px
$font-family-1: 'Lato', sans-serif
$font-family-2: 'Proxima Nova', sans-serif
$color-1: #101010


*, :before, :after
	padding: 0
	margin: 0
	border: 0
	box-sizing: border-box

body
	font-size: $font-size
	font-family: $font-family-1
	color: $color-1
	background: white



ul
	display: flex
	flex-wrap: wrap
	justify-content: flex-start

li
	display: block
	list-style-image: none

a
	color: $color-1
	text-decoration: none
	border-bottom: 1px solid transparent
	transition: .3s

img
	display: block
	max-width: 100% !important
	max-height: 100% !important

input
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none

input, textarea, button
 outline: none

.icon
	display: inline-block
	vertical-align: middle

/* Form elements */
.input
	position: relative
	&__title
		font-size: 13px
		color: #8a8a8a
		margin-bottom: 12px
		display: inline-block
	&__wrap
		display: block
		font-size: 14px
		font-family: $font-family-1
		background: white
		width: 100%
		padding: 0 22px
		height: 40px
		border-radius: 4px
		background-color: #f5f5f5
		border: 1px solid #f5f5f5
	&_required
		.input
			&__title
				&:after
					content: '*'
					display: inline-block
					color: #c93c46
					margin-left: 2px
	&_border
		.input
			&__title
				color: #8a8a8a
			&__wrap
				border-color: #e0e0e0
				background-color: #f0f0f0
	&_error
		.input
			&__wrap
				border-color: #c93c46
				
				


.textarea
	position: relative
	&__title
		font-size: 13px
		color: #8a8a8a
		margin-bottom: 12px
		display: inline-block
	&__wrap
		display: block
		font-size: 14px
		font-family: $font-family-1
		background: white
		width: 100%
		height: 110px
		resize: none
		border-radius: 4px
		background-color: #f5f5f5
		padding: 15px 23px
		border: 1px solid #f5f5f5
	&__error
		font-size: 13px
		color: #c93c46
		margin-top: 15px
	&_border
		.textarea
			&__title
				color: #8a8a8a
			&__wrap
				border-color: #e0e0e0
				background-color: #f0f0f0


.file
	&__title
		font-size: 13px
		color: #8a8a8a
		margin-bottom: 12px
		display: inline-block
	&__arrea
		display: flex
		align-items: center
		width: 100%
		background-color: #ffffff
		border: 1px solid #f0f0f0
		border-radius: 4px
		height: 40px
		&:before
			display: inline-block
			content: 'Прикрепить'
			color: #c93c46
			font-size: 14px
			padding-left: 23px
		&:after
			display: inline-block
			content: ''
			@include sprite($attachment)
			margin-left: auto
			margin-right: 23px
		
	&__wrap
		display: none
		
		
	

.btn
	position: relative
	display: flex
	justify-content: center
	align-items: center
	font-size: $font-size
	font-family: $font-family-1
	cursor: pointer
	text-align: center
	transition: .3s
	border-bottom: none
	&_line
		display: inline-flex
		font-size: 14px
		font-weight: 700
		letter-spacing: 1.68px
		color: #ffffff
		text-transform: uppercase
		border-bottom: 1px solid #ca3c46
		padding-bottom: 7px
		&:hover
			color: #ca3c46

	&_red
		font-size: 16px
		font-weight: 600
		border-radius: 4px
		color: #fff
		background-color: #c93c46
		height: 48px
		&:hover
			background-color: #a83b43



.input input, .textarea textarea
	transition: .3s

input, .btn, .slick-slide, textarea
	outline: none !important


.tal
	text-align: left

.tac
	text-align: center

.tar
	text-align: right

.mid
	margin-left: auto
	margin-right: auto



.main-wrap
	// overflow-x: hidden



.panel
	z-index: 10
	position: relative
	padding-top: 11px
	padding-bottom: 10px
	background-color: #f5f5f5
	&__nav
		width: 535px
		margin-left: auto
		ul
			justify-content: space-between
		li
			font-size: 13px
		a
			color: #999
			&:hover
				color: $color-1
		


.search-link
	&__text
		font-size: 13px
		margin-left: 8px
		color: #999999
		

.logo
	&__icon
		margin-bottom: 8px
		
.mobile-nav
	display: none

.header
	z-index: 10
	position: relative
	padding-top: 30px
	padding-bottom: 25px
	background-color: #fff
	&__call
		margin-left: auto
		margin-right: 200px
		width: 200px
		font-weight: 900
		padding-top: 4px

	&__phone
		font-size: 20px
		line-height: 17px
		letter-spacing: 2px
		margin-bottom: 7px
		
	&__callback
		font-size: 13px
		color: #c93c46
		border-bottom: 1px solid #c93c46
		&:hover
			border-color: transparent
		
	&__contacts
		width: 290px

	&__time
		margin-top: 8px
		font-size: 13px
		font-weight: 600
		span
			color: #727272
			font-weight: 400
		
	&__hum, &__mobile-call
		display: none

	&__close
		cursor: pointer
		
		



.address
	&__metro
		position: relative
		font-size: 17px
		font-weight: 900
		&:before
			display: block
			content: ''
			position: absolute
			top: 4px
			left: -22px
			@include sprite($metro)

	&__metro, &__text
		display: inline

	&__text
		font-size: 13px
		color: #727272
		margin-left: 15px

.messagers
	li
		margin-left: 4.5px
		margin-right: 4.5px
		

.nav
	z-index: 10
	position: relative
	color: #fff
	background-color: #201f22
	a
		color: #fff
	&__services
		width: 158px

	&__list
		width: calc(100% - 158px + 30px)
		margin-right: -30px
		li
			width: 10%
			text-align: center
			position: relative
			&:last-of-type
				a
					&:after
						display: none
			&:hover
				ul
					display: block
			&:nth-of-type(5), &:nth-of-type(6), &:nth-of-type(7), &:nth-of-type(8), &:nth-of-type(9), &:nth-of-type(10)
				&:hover
					ul
						left: auto
						right: 0
						+ ul
							right: 250px
			ul
				position: absolute
				width: 250px
				left: 0
				top: 48px
				background-color: #fff
				display: none
				font-size: 0
				border-right: 1px solid #f3f3f3
				+ ul
					left: 250px
				li
					display: block
					width: 100%
					border-top: 1px solid #f3f3f3
					font-size: 0
					text-align: left

				a
					font-size: $font-size
					display: flex
					align-items: center
					padding: 0 25px
					height: 48px
					color: #575757
					text-align: left
					&:after
						display: none
					&:hover
						color: #ca3c46
						background: none

		a
			display: block
			padding: 16px 0 14px
			border-bottom: none
			position: relative
			&:after
				position: absolute
				top: 50%
				right: 0
				display: block
				content: ''
				width: 1px
				height: 28px
				background-color: #333234
				transform: translateY(-50%)
			&:hover
				background-color: #333234
				margin-left: -1px

		
.nav-drop
	position: relative
	z-index: 10
	&__btn
		display: flex
		justify-content: center
		align-items: center
		background-color: #333234
		height: 48px
		cursor: pointer
		position: relative
		z-index: 2
		&-icon
			margin-right: 14px
			span
				display: block
				width: 20px
				height: 2px
				background-color: #fff
				margin-bottom: 5px
				&:last-of-type
					margin-bottom: 0

	&__list
		z-index: 1
		position: absolute
		background-color: #fff
		top: 48px
		left: 0
		opacity: 0
		transform: translateX(-50px)
		transition: .0s
		visibility: hidden
		&_toggle
			opacity: 1
			transform: translateX(0%)
			visibility: visible
		> ul
			position: relative
			> li
				color: $color-1
				border-top: 1px solid #f3f3f3
				width: 275px
				&.has-subnav
					&:hover
						> a
							color: #ca3c46
							&:after
								@include sprite($arrow-right-red)
					> a
						&:after
							content: ''
							position: absolute
							right: 20px
							top: 50%
							transform: translateY(-50%)
							@include sprite($arrow-right-gray)
								
					&:hover
						ul
							visibility: visible
							opacity: 1
							transform: translateX(0)
				> ul
					display: block
					position: absolute
					left: 275px
					top: 0
					width: 250px
					height: 100%
					background-color: #fff
					border-left: 1px solid #f3f3f3
					padding: 24px 30px 0
					align-items: flex-start
					visibility: hidden
					opacity: 0
					transform: translateX(0px)
					transition: .0s
					> li
						margin-bottom: 17px
						&:last-of-type
							margin-bottom: 0
						> a
							color: #575757
							line-height: 23px
							&:hover
								color: #ca3c46

				> a
					position: relative
					color: #575757
					height: 58px
					display: flex
					align-items: center
					padding: 0 50px 0 30px
					line-height: 23px
					&:hover
						color: #ca3c46
		

.slick-arrow
	z-index: 1
	opacity: .5
	position: absolute
	top: 50%
	transform: translatey(-50%)
	font-size: 0
	background: none
	transition: .3s
	cursor: pointer
	&:hover
		opacity: 1

.slick-prev
	left: 50%
	margin-left: -(19px + 650px + 83px)
	@include sprite($chevron-left)

.slick-next
	right: 50%
	margin-right: -(19px + 650px + 83px)
	@include sprite($chevron-right)

.slick-dots
	width: 100%
	justify-content: center
	li
		border-radius: 50%
		width: 14px
		height: 14px
		background: none
		transition: .3s
		margin-left: 4.5px
		margin-right: 4.5px
		border: 2px solid #ca3c46
		cursor: pointer
		&.slick-active
			background-color: #ca3c46
	button
		font-size: 0

.slider
	&__list
		position: relative
		font-size: 0
		.slick-dots
			position: absolute
			bottom: 30px
			left: 0
			right: 0
			li
				opacity: .7
				border-color: #fff
				&.slick-active
					background-color: #fff
				&:hover
					opacity: 1
	&__item
		position: relative
		color: #fff
		height: 530px
		background-size: cover
		background-position: center
		background-repeat: no-repeat	

	&__wrap
		z-index: 2
		top: 50%
		left: 50%
		position: absolute
		transform: translate(-50%, -50%)
		width: 460px
		margin-left: -420px
		
	&__title
		font-size: 30px
		text-transform: uppercase
		font-weight: 300
		font-family: $font-family-2
		letter-spacing: 2px
		margin-bottom: 35px
		span
			display: block
			font-weight: 600
		&:before
			display: block
			content: ''
			width: 68px
			height: 1px
			background-color: #c93c46
			margin-bottom: 37px

	&__text
		font-size: 16px
		line-height: 25px
		color: #bdbdbd
		margin-bottom: 30px
		
	
.advantages
	padding-top: 100px
	padding-bottom: 108px
	h1
		margin-bottom: 50px

	&__list
		background-color: #fff

	&__item
		width: 33.333%
		border-right: 1px solid #ececec
		border-bottom: 1px solid #ececec
		padding: 47px 40px 42px
		min-height: 275px
		&:nth-of-type(3n)
			border-right: none

		&:nth-last-of-type(1), &:nth-last-of-type(2), &:nth-last-of-type(3)
			border-bottom: none
	&__icon
		margin-bottom: 36px
		
	&__subtitle
		font-size: 18px
		font-weight: 700
		border-bottom: 1px solid #ececec
		padding-bottom: 12px
		margin-bottom: 10px

	&__text
		font-size: 14px
		line-height: 22px
		color: #8a8a8a

.share
	color: #fff
	padding: 41px 40px 42px
	background: url('../../img/bg/wave.png') no-repeat left top, #201f22
	&_mt
		margin-top: 50px
	&__content
		font-size: 17px
		line-height: 22px
		color: #bdbdbd
		width: 900px
	&__btn
		width: 180px
		margin-left: auto
		margin-top: 5px
		

	h2
		color: #fff
		margin-bottom: 15px
		line-height: normal
		
		

.services
	padding-top: 102px
	overflow: hidden
	h2
		margin-bottom: 50px

	&__list
		margin-left: -16px
		margin-right: -16px

	&__col
		width: calc(33.333% - 32px)
		margin-left: 16px
		margin-right: 16px

	&__item
		margin-bottom: 25px
		&_toggle
			.services
				&__title
					&:before
						transform: rotate(-90deg)
						margin-top: -2px
					

	&__head
		padding-bottom: 25px
		border-bottom: 1px solid #e5e5e5

	&__title
		color: #2c2c2c
		padding-right: 40px
		position: relative
		cursor: pointer
		&:before
			content: ''
			position: absolute
			top: 50%
			right: 20px
			transform: translateY(-50%)
			@include sprite($arrow-down-red)
			transition: .3s
			

		

	&__text
		font-size: 17px
		background-color: #ffffff
		color: #8a8a8a
		padding: 25px 35px
		position: relative
		display: none
		li
			margin-bottom: 12px
			width: 100%
			&:last-of-type
				margin-bottom: 0

	&__btn
		margin-top: 35px
		width: 180px
		margin-left: auto
		margin-right: auto
		

.catalog
	padding-top: 100px
	padding-bottom: 108px
	h2
		margin-bottom: 50px
		
	&__list
		background-color: #ffffff
		padding: 0 40px
 
	&__item
		width: 20%
		text-align: center
		border-bottom: 1px solid #ececec
		padding-top: 19px
		padding-bottom: 19px
		&:nth-last-of-type(1), &:nth-last-of-type(2), &:nth-last-of-type(3), &:nth-last-of-type(4), &:nth-last-of-type(5)
			border-bottom: none
	&__logo
		line-height: 53px
		font-size: 0
		margin-bottom: 11px
		img
			display: inline-block
			vertical-align: middle
		
	&__link
		font-size: 16px
		a
			color: #2c2c2c
			border-color: #2c2c2c
			&:hover
				border-color: #ca3c46
		
		

.about
	&__content
		width: 555px
		padding-right: 130px
		h2
			margin-bottom: 60px
			&:after
				display: block
				content: ''
				width: 53px
				height: 2px
				background-color: #c93c46
				margin-top: 53px

	&__text
		ul

		li
			position: relative
			width: 100%
			font-size: 16px
			padding-left: 36px
			margin-bottom: 24px
			&:last-of-type
				margin-bottom: 0
			&:before
				position: absolute
				content: ''
				left: 0
				top: 2px
				@include sprite($check)
		
		
	&__video
		width: calc(100% - 555px)
		text-align: center
		h2
			margin-bottom: 21px
		&-link
			display: block
			height: 425px
			width: 100%
			position: relative
			background-size: cover
			background-position: center
			background-repeat: no-repeat
			&:before
				z-index: 1
				opacity: 0
				position: absolute
				content: ''
				top: 0
				left: 0
				right: 0
				bottom: 0
				background-color: rgba(0,0,0,0.3)
				transition: .3s

			&:after
				z-index: 2
				content: ''
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				@include sprite($youtube)
				transition: .3s

			&:hover
				&:before
					opacity: 1

		
		
.certificates
	&__content
		width: 525px
		padding-right: 110px
		h2
			margin-bottom: 48px
		p
			line-height: 25px
			color: #8a8a8a



	&__list
		padding-top: 8px
		width: calc(100% - 525px + 40px)
		margin-left: -20px
		margin-right: -20px

	&__item
		width: 25%
		padding-left: 20px
		padding-right: 20px
		a
			display: block
			&:hover
				transform: scale(.95)




.photos
	padding-top: 55px
	padding-bottom: 144px
	h2
		margin-bottom: 54px
		
	&__list
		margin-left: -16px
		margin-right: -16px
		
	&__item
		padding-left: 16px
		padding-right: 16px
		width: 25%
		a
			display: block
			&:hover
				transform: scale(.95)

		

.shares
	padding-top: 100px
	padding-bottom: 102px
	h2
		margin-bottom: 55px

	&__list
		

	&__item
		width: 370px

	&__date
		font-size: 12px
		text-transform: uppercase
		color: #8a8a8a
		margin-bottom: 22px
		
	&__text
		font-size: 16px
		line-height: 26px
		font-weight: 700
		text-transform: uppercase
		a
			border-color: #e5e5e5
			&:hover
				border-color: #ca3c46
		

.review
	padding-bottom: 108px
	h2
		margin-bottom: 52px

	&__title
		margin-bottom: 30px

	&__item
		background-color: #ffffff
		width: 885px
		padding: 28px 35px 34px	
		margin-bottom: 30px
		&__

	&__data
		margin-bottom: 14px
		
	&__name
		margin-right: 35px
		font-weight: 700

	&__date
		font-size: 13px
		color: #8a8a8a
		
	&__stars
		margin-bottom: 27px
		li
			margin-right: 3px
		

	&__text
			
		
	&__subitem
		background-color: #ffffff
		width: 675px
		padding: 30px
		margin-left: 67px

	&__form
		margin-top: 52px
		&-title
			font-weight: 700
			margin-bottom: 23px
	&__input
		margin-bottom: 29px

	&__form
		width: 855px
		&-title
			margin-bottom: 30px
			font-size: 18px
			font-weight: 700
		
	&__textarea
		margin-bottom: 30px

	&__list
		
		

	&__btn
		width: 215px


.stars
	&__head
		font-size: 16px
		margin-right: 18px

	&__text
		position: relative
		top: 2px
		
		

.star
	margin-right: 3px
	cursor: pointer
	label
		display: block
		cursor: pointer
	input
		display: none
	&_o
		label
			.icon
				@include sprite($star)

.breadcrumbs
	padding-top: 60px
	padding-bottom: 52px
	ul
	li
		color: #8a8a8a
		&:after
			content: ''
			display: inline-block
			@include sprite($arrow-right-gray)
			margin-left: 22px
			margin-right: 22px
		&:last-of-type
			&:after
				display: none
	a
		color: #c93c46
		&:hover
			border-color: #c93c46

.subtext
	margin-top: 102px

.order
	margin-top: 100px
	h2
		margin-bottom: 54px

	&__contacts
		color: #fff
		background-color: #c93c46
		width: 340px
		padding: 55px 40px
		a
			color: #fff

	&__title
		font-size: 16px
		font-weight: 700
		margin-bottom: 52px

	&__item
		position: relative
		margin-bottom: 45px

	&__icon
		width: 23px
		position: absolute
		
	&__content
		padding-left: 54px

	&__subtitle
		margin-bottom: 11px
		font-weight: 900
		letter-spacing: 1.65px
		text-transform: uppercase

	&__text
		line-height: 25px

		
		
		
		
		

	&__socials
		li

		a
			display: block
			opacity: 1 !important
			&:hover
				transform: scale(.9)
		

.form
	&__wrap
		background-color: #fff
			

	&__elements
		width: calc(100% - 340px)
		padding: 56px 48px 60px
		&-title
			font-size: 24px
			margin-bottom: 50px

	&__input
		width: 50%
		margin-bottom: 42px
		&:nth-of-type(1), &:nth-of-type(3)
			padding-right: 35px
		&:nth-of-type(2), &:nth-of-type(4)
			padding-left: 35px

	&__file
		padding-left: 35px
		width: 50%
		margin-bottom: 42px

	&__textarea
		width: 100%
		margin-bottom: 15px

	&__btn
		width: 180px
		margin-right: 55px
		


.policy
	input
		&:checked + label
			&:after
				transform: scale(.6)
	label
		display: inline-block
		color: #8d9296
		font-size: 13px
		position: relative
		padding-left: 31px
		&:before
			top: -3px
			left: 0
			position: absolute
			display: inline-block
			vertical-align: middle
			content: ''
			width: 18px
			height: 18px
			border: 1px solid #c93c46
			border-radius: 2px
			margin-right: 13px
		&:after
			content: ''
			position: absolute
			left: 0
			top: -1px
			@include sprite($check)
			transform: scale(0)
			transition: .3s
		a
			color: #c93c46
			border-color: #c93c46
			&:hover
				border-color: transparent
			

		
.shares-more
	h2
		margin-bottom: 45px
	&__title
		font-size: 20px
		font-weight: 700
		margin-bottom: 23px
		a
			border-color: #e5e5e5
			&:hover
				border-color: #c93c46
		
	&__text
		color: #8a8a8a
		line-height: 25px
			
	&__item
		margin-bottom: 48px
		
		

.pagination
	ul
		justify-content: center
	li
		&:hover, &.selected
			a
				color: #fff
				background-color: #c93c46

	a
		display: flex
		align-items: center
		justify-content: center
		min-width: 36px
		height: 36px
		font-weight: 900
		border-radius: 2px

	.prev, .next
		a
			padding-left: 15px
			padding-right: 15px


		

	
.in-line
	padding-top: 22px
	padding-bottom: 20px
	&__item
		position: relative
		&:nth-of-type(1)
			width: 225px
			.in-line
				&__text
					padding-left: 21px
		&:nth-of-type(2)
			width: 155px
			.in-line
				&__text
					padding-left: 26px
					span
						display: block
		&:nth-of-type(3)
			width: 175px
			.in-line
				&__text
					padding-left: 25px
					span
						display: block
		&:nth-of-type(4)
			width: 285px
			.in-line
				&__text
					text-align: center
					margin-bottom: 4px
					.icon
						position: relative
						top: -2px
						margin-right: 11px
					
	&__messagers
		margin-left: 22px
		margin-top: 4px
		

	&__icon
		position: absolute
		top: 2px
		left: 0
		

		
	&__text
		line-height: 25px
		span
			color: #8a8a8a
		









.contacts
	position: relative
	&__map
		width: 50%
		height: 512px
		
	&__wrap
		width: 525px
		position: absolute
		z-index: 1
		top: 144px
		left: 50%
		margin-left: 126px
		h2
			margin-bottom: 28px

	&__text
		color: #8a8a8a
		font-size: 17px
		line-height: 27px
		margin-bottom: 35px

	&__btn
		width: 180px

	&__or
		font-size: 17px
		margin-left: 30px
		padding-right: 30px
		
	&__phone
		font-size: 18px
		font-weight: 600
		margin-bottom: 5px

	&__messagers
		margin-left: -4px		
		

		
		

		
		
		

.map
	width: 100%
	height: 100%
	&__logo
		margin-bottom: 15px
		
	&__info
		padding: 24px

	&__text
		font-size: 16px
		line-height: 26px
		color: #8a8a8a
		font-size: 24px
		




.footer
	color: #fff
	background-color: #201f22
	padding-top: 58px
	padding-bottom: 58px
	a
		color: #fff
	&__title
		font-size: 17px
		margin-bottom: 15px
		min-height: 20px
	&__col
		&:nth-of-type(1)
			width: 225px

		&:nth-of-type(2)
			width: 215px

		&:nth-of-type(3)
			width: 120px

		&:nth-of-type(4)
			width: 110px

		&:nth-of-type(5)
			width: 200px
		
		
	&__nav
		li
			font-size: 14px
			width: 100%
			margin-bottom: 15px
			&:last-of-type
				margin-bottom: 0
		a
			color: #8a8a8a
			&:hover
				color: #fff

		&-color
			li
				font-size: 16px
				margin-bottom: 14px
				width: 100%
			a
				&:hover
					border-color: #fff
		
	&__phone
		font-size: 20px
		font-weight: 900
		letter-spacing: 2px
		margin-bottom: 23px

	&__logo
		font-size: 14px
		color: #8a8a8a
		margin-bottom: 18px

	&__address
		font-size: 14px
		color: #8a8a8a
		line-height: 22px
		margin-bottom: 30px

	.show-md
		display: none


.socials
	li
		margin-right: 22px
		&:last-of-type
			margin-right: 0
	a
		opacity: .4
		&:hover
			opacity: 1
		
		

		


		
		
					




.color-
	&red
		color: #c93c46


.bg
	transition: .7s
	z-index: 9
	top: 0
	left: 0
	right: 0
	bottom: 0
	position: fixed
	opacity: 0
	visibility: hidden
	background-color: #201f22
	&_toggle
		opacity: .7
		visibility: visible
	&-2
		padding-top: 138px
		padding-bottom: 144px
	&-3
		padding-top: 140px
		padding-bottom: 105px
	&-4
		padding-top: 135px

.bg-gray
	background-color: #f5f5f5

.bg-white
	background-color: #fff

.hidden-lg
	display: none

.pb108
	padding-bottom: 108px

h1
	font-size: 36px

h2
	font-size: 30px

h3
	font-size: 26px

h1, h2, h3
	font-weight: 700
	font-family: $font-family-2

.text
	color: #8a8a8a
	font-size: 17px
	line-height: 27px
	h1, h2, h3, h4, h5, h6
		color: $color-1
		line-height: normal
	img
		margin-bottom: 25px
	p, ul, ol
		margin-bottom: 34px
	ul
		li
			padding-left: 20px
			margin-bottom: 12px
			&:last-of-type
				margin-bottom: 0
			&:before
				content: ''
				position: absolute
				width: 4px
				height: 4px
				border-radius: 50%
				top: 10px
				left: 0
				background-color: #c93c46
	ol
		li
			padding-left: 40px
			line-height: 27px
			margin-bottom: 8px
			&:last-of-type
				margin-bottom: 0
			.count
				position: absolute
				top: 0
				left: 0
				color: #c93c46
	h3
		margin-bottom: 30px
	h2
		margin-bottom: 25px
	li
		position: relative
		width: 100%

	table
		width: 100%
		padding-bottom: 35px
		td
			border-bottom: 1px solid #e5e5e5
			&:nth-of-type(1)
				width: 81%
				padding-left: 22px
			&:nth-of-type(2)
				width: 19%
		thead
			td
				color: #8a8a8a
				padding-bottom: 11px
		tbody
			td
				color: $color-1
				padding-top: 16px
				padding-bottom: 16px
	img
		margin-top: 20px

	.left
		float: left
		margin-right: 40px

	.right
		float: right
		margin-left: 40px



.popup
	display: none
	padding: 20px
	font-family: $font-family-1
	&_small
		width: 420px
	&_large
		width: 1170px
	&__title
		font-size: 24px
		text-align: center
		margin-bottom: 10px
		font-weight: 700
		font-family: $font-family-2

	&__input, &__textarea
		margin-bottom: 15px

	&__policy
		margin-top: -8px
		margin-bottom: 20px
		
	&__btn
		width: 100%

	&__text
		font-size: 18px
		margin-top: 20px
		max-height: 400px
		overflow-y: auto
		padding-right: 25px
		&_center
			padding-right: 0
			text-align: center
		h2
			font-size: 18px
			margin-bottom: 10px
		h3
			font-size: 17px
			margin-bottom: 8px
		p, ul, ol
			margin-bottom: 20px
		
		
		
.fancybox-thumbs > ul
	display: block



.icon-
	&arrow-down-gray
		@include sprite($arrow-down-gray)
	&arrow-down-red
		@include sprite($arrow-down-red)
	&arrow-right-gray
		@include sprite($arrow-right-gray)
	&arrow-right-red
		@include sprite($arrow-right-red)
	&attachment
		@include sprite($attachment)
	&car-small
		@include sprite($car-small)
	&check
		@include sprite($check)
	&chevron-left
		@include sprite($chevron-left)
	&chevron-right
		@include sprite($chevron-right)
	&clock-small
		@include sprite($clock-small)
	&email
		@include sprite($email)
	&email_small
		@include sprite($email_small)
	&facebook
		@include sprite($facebook)
	&grid
		@include sprite($grid)
	&hum
		@include sprite($hum)
	&instagram
		@include sprite($instagram)
	&magnifying-glass
		@include sprite($magnifying-glass)
	&metro-white
		@include sprite($metro-white)
	&metro
		@include sprite($metro)
	&phone-red
		@include sprite($phone-red)
	&phone-small
		@include sprite($phone-small)
	&phone
		@include sprite($phone)
	&placeholder-small
		@include sprite($placeholder-small)
	&placeholder
		@include sprite($placeholder)
	&return
		@include sprite($return)
	&star-o
		@include sprite($star-o)
	&star
		@include sprite($star)
	&telegram
		@include sprite($telegram)
	&viber
		@include sprite($viber)
	&vk
		@include sprite($vk)
	&whatsapp
		@include sprite($whatsapp)
	&x
		@include sprite($x)
	&youtube
		@include sprite($youtube)


[class*="ymaps-2"][class*="-ground-pane"]
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(100%);
