/* Including styles files */
@import url(../../libs/fancybox/dist/jquery.fancybox.css);
@import url(../../libs/slick-carousel/slick/slick.css);
.icon-arrow-down-gray {
  background-image: url(../../img/sprite.png);
  background-position: -137px -115px;
  width: 10px;
  height: 6px; }

.icon-arrow-down-red {
  background-image: url(../../img/sprite.png);
  background-position: -123px -93px;
  width: 10px;
  height: 6px; }

.icon-arrow-right-gray {
  background-image: url(../../img/sprite.png);
  background-position: -132px -48px;
  width: 4px;
  height: 8px; }

.icon-arrow-right-red {
  background-image: url(../../img/sprite.png);
  background-position: -133px -21px;
  width: 4px;
  height: 8px; }

.icon-attachment {
  background-image: url(../../img/sprite.png);
  background-position: -137px -47px;
  width: 14px;
  height: 15px; }

.icon-car-small {
  background-image: url(../../img/sprite.png);
  background-position: -137px -90px;
  width: 15px;
  height: 13px; }

.icon-check {
  background-image: url(../../img/sprite.png);
  background-position: -105px -67px;
  width: 18px;
  height: 14px; }

.icon-chevron-left {
  background-image: url(../../img/sprite.png);
  background-position: 0px -67px;
  width: 19px;
  height: 36px; }

.icon-chevron-right {
  background-image: url(../../img/sprite.png);
  background-position: -19px -67px;
  width: 19px;
  height: 36px; }

.icon-clock-small {
  background-image: url(../../img/sprite.png);
  background-position: -137px -17px;
  width: 15px;
  height: 15px; }

.icon-email {
  background-image: url(../../img/sprite.png);
  background-position: -96px -38px;
  width: 23px;
  height: 21px; }

.icon-email_small {
  background-image: url(../../img/sprite.png);
  background-position: -38px -88px;
  width: 17px;
  height: 15px; }

.icon-facebook {
  background-image: url(../../img/sprite.png);
  background-position: -123px -48px;
  width: 9px;
  height: 16px; }

.icon-grid {
  background-image: url(../../img/sprite.png);
  background-position: -123px -64px;
  width: 11px;
  height: 11px; }

.icon-hum {
  background-image: url(../../img/sprite.png);
  background-position: -123px -75px;
  width: 12px;
  height: 10px; }

.icon-instagram {
  background-image: url(../../img/sprite.png);
  background-position: -68px -103px;
  width: 16px;
  height: 16px; }

.icon-magnifying-glass {
  background-image: url(../../img/sprite.png);
  background-position: -52px -103px;
  width: 16px;
  height: 16px; }

.icon-marker {
  background-image: url(../../img/sprite.png);
  background-position: -96px 0px;
  width: 27px;
  height: 38px; }

.icon-metro-white {
  background-image: url(../../img/sprite.png);
  background-position: -82px -67px;
  width: 23px;
  height: 14px; }

.icon-metro {
  background-image: url(../../img/sprite.png);
  background-position: -123px -85px;
  width: 13px;
  height: 8px; }

.icon-phone-red {
  background-image: url(../../img/sprite.png);
  background-position: 0px -103px;
  width: 18px;
  height: 18px; }

.icon-phone-small {
  background-image: url(../../img/sprite.png);
  background-position: -137px -32px;
  width: 14px;
  height: 15px; }

.icon-phone {
  background-image: url(../../img/sprite.png);
  background-position: -38px -67px;
  width: 20px;
  height: 21px; }

.icon-placeholder-small {
  background-image: url(../../img/sprite.png);
  background-position: -123px -21px;
  width: 10px;
  height: 15px; }

.icon-placeholder {
  background-image: url(../../img/sprite.png);
  background-position: -123px 0px;
  width: 14px;
  height: 21px; }

.icon-return {
  background-image: url(../../img/sprite.png);
  background-position: -137px -103px;
  width: 15px;
  height: 12px; }

.icon-star-o {
  background-image: url(../../img/sprite.png);
  background-position: -137px -62px;
  width: 14px;
  height: 14px; }

.icon-star {
  background-image: url(../../img/sprite.png);
  background-position: -137px -76px;
  width: 14px;
  height: 14px; }

.icon-telegram {
  background-image: url(../../img/sprite.png);
  background-position: -35px -103px;
  width: 17px;
  height: 17px; }

.icon-viber {
  background-image: url(../../img/sprite.png);
  background-position: -137px 0px;
  width: 15px;
  height: 17px; }

.icon-vk {
  background-image: url(../../img/sprite.png);
  background-position: -58px -67px;
  width: 24px;
  height: 14px; }

.icon-whatsapp {
  background-image: url(../../img/sprite.png);
  background-position: -18px -103px;
  width: 17px;
  height: 17px; }

.icon-x {
  background-image: url(../../img/sprite.png);
  background-position: -123px -36px;
  width: 12px;
  height: 12px; }

.icon-youtube {
  background-image: url(../../img/sprite.png);
  background-position: 0px 0px;
  width: 96px;
  height: 67px; }

/* Including fonts */
@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/ProximaNova/ProximaNovaT-Thin.eot");
  src: local("Proxima Nova Thin"), local("ProximaNovaT-Thin"), url("../../fonts/ProximaNova/ProximaNovaT-Thin.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova/ProximaNovaT-Thin.woff") format("woff"), url("../../fonts/ProximaNova/ProximaNovaT-Thin.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/ProximaNova/ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url("../../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("../../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/ProximaNova/ProximaNova-Bold.eot");
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url("../../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff"), url("../../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../../fonts/Lato/Lato-Regular.eot");
  src: local("Lato Regular"), local("Lato-Regular"), url("../../fonts/Lato/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato/Lato-Regular.woff") format("woff"), url("../../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../../fonts/Lato/Lato-Medium.eot");
  src: local("Lato Medium"), local("Lato-Medium"), url("../../fonts/Lato/Lato-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato/Lato-Medium.woff") format("woff"), url("../../fonts/Lato/Lato-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../../fonts/Lato/Lato-Semibold.eot");
  src: local("Lato Semibold"), local("Lato-Semibold"), url("../../fonts/Lato/Lato-Semibold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato/Lato-Semibold.woff") format("woff"), url("../../fonts/Lato/Lato-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../../fonts/Lato/Lato-Bold.eot");
  src: local("Lato Bold"), local("Lato-Bold"), url("../../fonts/Lato/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato/Lato-Bold.woff") format("woff"), url("../../fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../../fonts/Lato/Lato-Heavy.eot");
  src: local("Lato Heavy"), local("Lato-Heavy"), url("../../fonts/Lato/Lato-Heavy.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato/Lato-Heavy.woff") format("woff"), url("../../fonts/Lato/Lato-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

/* Grid */
.case {
  position: relative;
  width: 1330px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.row, .col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  .row-r {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }

.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .col-r {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }

.row.left, .col.left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.row.right, .col.right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.row.mid, .col.mid {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.row.between, .col.between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.row.around, .col.around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.no-wrap {
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }

.i-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.i-bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.i-mid {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.i-baseline {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.i-strech {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

/* Global settings */
*, :before, :after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 15px;
  font-family: "Lato", sans-serif;
  color: #101010;
  background: white; }

ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

li {
  display: block;
  list-style-image: none; }

a {
  color: #101010;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: .3s;
  transition: .3s; }

img {
  display: block;
  max-width: 100% !important;
  max-height: 100% !important; }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input, textarea, button {
  outline: none; }

.icon {
  display: inline-block;
  vertical-align: middle; }

/* Form elements */
.input {
  position: relative; }
  .input__wrap {
    display: block;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    background: white;
    width: 100%; }

.textarea {
  position: relative; }
  .textarea__wrap {
    display: block;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    background: white;
    width: 100%;
    resize: none; }

.btn {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  border-bottom: none; }
  .btn_line {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.68px;
    color: #ffffff;
    text-transform: uppercase;
    border-bottom: 1px solid #ca3c46;
    padding-bottom: 7px; }
    .btn_line:hover {
      color: #ca3c46; }
  .btn_red {
    font-size: 16px;
    font-weight: 600;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    color: #fff;
    background-color: #c93c46;
    height: 48px; }

.input input, .textarea textarea {
  -webkit-transition: .3s;
  transition: .3s; }

input, .btn, .slick-slide, textarea {
  outline: none !important; }

.tal {
  text-align: left; }

.tac {
  text-align: center; }

.tar {
  text-align: right; }

.mid {
  margin-left: auto;
  margin-right: auto; }

.panel {
  z-index: 10;
  position: relative;
  padding-top: 11px;
  padding-bottom: 10px;
  background-color: #f5f5f5; }
  .panel__nav {
    width: 535px;
    margin-left: auto; }
    .panel__nav ul {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .panel__nav li {
      font-size: 13px; }
    .panel__nav a {
      color: #999; }

.search-link__text {
  font-size: 13px;
  margin-left: 8px;
  color: #999999; }

.logo__icon {
  margin-bottom: 8px; }

.header {
  z-index: 10;
  position: relative;
  padding-top: 30px;
  padding-bottom: 25px;
  background-color: #fff; }
  .header__call {
    margin-left: auto;
    margin-right: 200px;
    width: 200px;
    font-weight: 900; }
  .header__phone {
    font-size: 20px;
    line-height: 17px;
    letter-spacing: 2px;
    margin-bottom: 7px; }
  .header__callback {
    font-size: 13px;
    color: #c93c46;
    border-bottom: 1px dashed #c93c46; }
  .header__contacts {
    width: 290px; }
  .header__time {
    margin-top: 8px;
    font-size: 13px;
    font-weight: 600; }
    .header__time span {
      color: #727272;
      font-weight: 400; }

.address__metro {
  position: relative;
  font-size: 17px;
  font-weight: 900; }
  .address__metro:before {
    display: block;
    content: '';
    position: absolute;
    top: 4px;
    left: -22px;
    background-image: url(../../img/sprite.png);
    background-position: -123px -85px;
    width: 13px;
    height: 8px; }

.address__metro, .address__text {
  display: inline; }

.address__text {
  font-size: 13px;
  color: #727272;
  margin-left: 15px; }

.messagers li {
  margin-left: 4.5px;
  margin-right: 4.5px; }

.nav {
  z-index: 10;
  position: relative;
  color: #fff;
  background-color: #201f22; }
  .nav a {
    color: #fff; }
  .nav__services {
    width: 158px; }
  .nav__list {
    width: -webkit-calc(100% - 158px + 30px);
    width: calc(100% - 158px + 30px);
    margin-right: -30px; }
    .nav__list li {
      width: 10%;
      text-align: center; }
      .nav__list li:last-of-type a:after {
        display: none; }
    .nav__list a {
      display: block;
      padding: 16px 0 14px;
      border-bottom: none;
      position: relative; }
      .nav__list a:after {
        position: absolute;
        top: 50%;
        right: 0;
        display: block;
        content: '';
        width: 1px;
        height: 28px;
        background-color: #333234;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%); }

.nav-drop {
  position: relative;
  z-index: 10; }
  .nav-drop__btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #333234;
    height: 48px;
    cursor: pointer;
    position: relative;
    z-index: 2; }
    .nav-drop__btn-icon {
      margin-right: 14px; }
      .nav-drop__btn-icon span {
        display: block;
        width: 20px;
        height: 2px;
        background-color: #fff;
        margin-bottom: 5px; }
        .nav-drop__btn-icon span:last-of-type {
          margin-bottom: 0; }
  .nav-drop__list {
    z-index: 1;
    position: absolute;
    background-color: #fff;
    top: 48px;
    left: 0;
    opacity: 0;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: .3s;
    transition: .3s;
    visibility: hidden; }
    .nav-drop__list_toggle {
      opacity: 1;
      -webkit-transform: translateX(0%);
          -ms-transform: translateX(0%);
              transform: translateX(0%);
      visibility: visible; }
    .nav-drop__list > ul {
      position: relative; }
      .nav-drop__list > ul > li {
        color: #101010;
        border-top: 1px solid #f3f3f3;
        width: 275px; }
        .nav-drop__list > ul > li.has-subnav:hover > a {
          color: #ca3c46; }
          .nav-drop__list > ul > li.has-subnav:hover > a:after {
            background-image: url(../../img/sprite.png);
            background-position: -133px -21px;
            width: 4px;
            height: 8px; }
        .nav-drop__list > ul > li.has-subnav > a:after {
          content: '';
          position: absolute;
          right: 20px;
          top: 50%;
          -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%);
          background-image: url(../../img/sprite.png);
          background-position: -132px -48px;
          width: 4px;
          height: 8px; }
        .nav-drop__list > ul > li.has-subnav:hover ul {
          visibility: visible;
          opacity: 1;
          -webkit-transform: translateX(0);
              -ms-transform: translateX(0);
                  transform: translateX(0); }
        .nav-drop__list > ul > li > ul {
          display: block;
          position: absolute;
          left: 275px;
          top: 0;
          width: 250px;
          height: 100%;
          background-color: #fff;
          border-left: 1px solid #f3f3f3;
          padding: 24px 30px 0;
          -webkit-box-align: start;
          -webkit-align-items: flex-start;
              -ms-flex-align: start;
                  align-items: flex-start;
          visibility: hidden;
          opacity: 0;
          -webkit-transform: translateX(50px);
              -ms-transform: translateX(50px);
                  transform: translateX(50px);
          -webkit-transition: .6s;
          transition: .6s; }
          .nav-drop__list > ul > li > ul > li {
            margin-bottom: 17px; }
            .nav-drop__list > ul > li > ul > li:last-of-type {
              margin-bottom: 0; }
            .nav-drop__list > ul > li > ul > li > a {
              color: #575757;
              line-height: 23px; }
              .nav-drop__list > ul > li > ul > li > a:hover {
                color: #ca3c46; }
        .nav-drop__list > ul > li > a {
          position: relative;
          color: #575757;
          height: 58px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          padding: 0 50px 0 30px;
          line-height: 23px; }
          .nav-drop__list > ul > li > a:hover {
            color: #ca3c46; }

.slick-arrow {
  z-index: 1;
  opacity: .5;
  position: absolute;
  top: 50%;
  -webkit-transform: translatey(-50%);
      -ms-transform: translatey(-50%);
          transform: translatey(-50%);
  font-size: 0;
  background: none;
  -webkit-transition: .3s;
  transition: .3s; }
  .slick-arrow:hover {
    opacity: 1; }

.slick-prev {
  left: 50%;
  margin-left: -752px;
  background-image: url(../../img/sprite.png);
  background-position: 0px -67px;
  width: 19px;
  height: 36px; }

.slick-next {
  right: 50%;
  margin-right: -752px;
  background-image: url(../../img/sprite.png);
  background-position: -19px -67px;
  width: 19px;
  height: 36px; }

.slick-dots {
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .slick-dots li {
    -webkit-border-radius: 50%;
            border-radius: 50%;
    width: 14px;
    height: 14px;
    background: none;
    -webkit-transition: .3s;
    transition: .3s;
    margin-left: 4.5px;
    margin-right: 4.5px;
    border: 2px solid #ca3c46;
    cursor: pointer; }
    .slick-dots li.slick-active {
      background-color: #ca3c46; }
  .slick-dots button {
    font-size: 0; }

.slider__list {
  position: relative;
  font-size: 0; }
  .slider__list .slick-dots {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0; }
    .slider__list .slick-dots li {
      opacity: .7;
      border-color: #fff; }
      .slider__list .slick-dots li.slick-active {
        background-color: #fff; }
      .slider__list .slick-dots li:hover {
        opacity: 1; }

.slider__item {
  position: relative;
  color: #fff;
  height: 530px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.slider__wrap {
  z-index: 2;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 460px;
  margin-left: -420px; }

.slider__title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Proxima Nova", sans-serif;
  letter-spacing: 2px;
  margin-bottom: 35px; }
  .slider__title span {
    display: block;
    font-weight: 600; }
  .slider__title:before {
    display: block;
    content: '';
    width: 68px;
    height: 1px;
    background-color: #c93c46;
    margin-bottom: 37px; }

.slider__text {
  font-size: 16px;
  line-height: 25px;
  color: #bdbdbd;
  margin-bottom: 30px; }

.advantages {
  padding-top: 100px;
  padding-bottom: 108px; }
  .advantages h1 {
    margin-bottom: 50px; }
  .advantages__list {
    background-color: #fff; }
  .advantages__item {
    width: 33.333%;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    padding: 47px 40px 42px;
    min-height: 275px; }
    .advantages__item:nth-of-type(3n) {
      border-right: none; }
    .advantages__item:nth-last-of-type(1), .advantages__item:nth-last-of-type(2), .advantages__item:nth-last-of-type(3) {
      border-bottom: none; }
  .advantages__icon {
    margin-bottom: 36px; }
  .advantages__subtitle {
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid #ececec;
    padding-bottom: 12px;
    margin-bottom: 10px; }
  .advantages__text {
    font-size: 14px;
    line-height: 22px;
    color: #8a8a8a; }

.share {
  color: #fff;
  padding: 41px 40px 42px;
  background: url("../../img/bg/wave.png") no-repeat left top, #201f22; }
  .share__content {
    font-size: 17px;
    line-height: 22px;
    color: #bdbdbd;
    width: 900px; }
  .share__btn {
    width: 180px;
    margin-left: auto;
    margin-top: 5px; }
  .share h2 {
    color: #fff;
    margin-bottom: 15px;
    line-height: normal; }

.services {
  padding-top: 102px; }
  .services h2 {
    margin-bottom: 50px; }
  .services__list {
    margin-left: -16px;
    margin-right: -16px; }
  .services__col {
    width: -webkit-calc(33.333% - 32px);
    width: calc(33.333% - 32px);
    margin-left: 16px;
    margin-right: 16px; }
  .services__item {
    margin-bottom: 25px; }
    .services__item_toggle .services__title:before {
      -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
              transform: rotate(-90deg);
      margin-top: -2px; }
  .services__head {
    padding-bottom: 25px;
    border-bottom: 1px solid #e5e5e5; }
  .services__title {
    color: #2c2c2c;
    padding-right: 40px;
    position: relative;
    cursor: pointer; }
    .services__title:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 20px;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      background-image: url(../../img/sprite.png);
      background-position: -123px -93px;
      width: 10px;
      height: 6px;
      -webkit-transition: .3s;
      transition: .3s; }
  .services__text {
    font-size: 17px;
    background-color: #ffffff;
    color: #8a8a8a;
    padding: 25px 35px;
    position: relative;
    display: none; }
    .services__text li {
      margin-bottom: 12px; }
      .services__text li:last-of-type {
        margin-bottom: 0; }
  .services__btn {
    margin-top: 35px;
    width: 180px;
    margin-left: auto;
    margin-right: auto; }

.catalog {
  padding-top: 100px;
  padding-bottom: 108px; }
  .catalog h2 {
    margin-bottom: 50px; }
  .catalog__list {
    background-color: #ffffff;
    padding: 0 40px; }
  .catalog__item {
    width: 20%;
    text-align: center;
    border-bottom: 1px solid #ececec;
    padding-top: 19px;
    padding-bottom: 19px; }
    .catalog__item:nth-last-of-type(1), .catalog__item:nth-last-of-type(2), .catalog__item:nth-last-of-type(3), .catalog__item:nth-last-of-type(4), .catalog__item:nth-last-of-type(5) {
      border-bottom: none; }
  .catalog__logo {
    line-height: 53px;
    font-size: 0;
    margin-bottom: 11px; }
    .catalog__logo img {
      display: inline-block;
      vertical-align: middle; }
  .catalog__link {
    font-size: 16px; }
    .catalog__link a {
      color: #2c2c2c;
      border-color: #2c2c2c; }

.about__content {
  width: -webkit-calc(100% - 745px);
  width: calc(100% - 745px);
  padding-right: 130px; }
  .about__content h2 {
    margin-bottom: 60px; }
    .about__content h2:after {
      display: block;
      content: '';
      width: 53px;
      height: 2px;
      background-color: #c93c46;
      margin-top: 53px; }

.about__text li {
  position: relative;
  width: 100%;
  font-size: 16px;
  padding-left: 36px;
  margin-bottom: 24px; }
  .about__text li:last-of-type {
    margin-bottom: 0; }
  .about__text li:before {
    position: absolute;
    content: '';
    left: 0;
    top: 2px;
    background-image: url(../../img/sprite.png);
    background-position: -105px -67px;
    width: 18px;
    height: 14px; }

.about__video {
  width: 745px;
  text-align: center; }
  .about__video h2 {
    margin-bottom: 21px; }
  .about__video-link {
    display: block;
    height: 425px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    .about__video-link:before {
      z-index: 1;
      opacity: 0;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.3);
      -webkit-transition: .3s;
      transition: .3s; }
    .about__video-link:after {
      z-index: 2;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      background-image: url(../../img/sprite.png);
      background-position: 0px 0px;
      width: 96px;
      height: 67px;
      -webkit-transition: .3s;
      transition: .3s; }
    .about__video-link:hover:before {
      opacity: 1; }

.color-red {
  color: #c93c46; }

.bg {
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  background-color: #201f22; }
  .bg_toggle {
    opacity: .7;
    visibility: visible; }
  .bg-2 {
    padding-top: 138px;
    padding-bottom: 144px; }
  .bg-3 {
    padding-top: 140px; }

.bg-gray {
  background-color: #f5f5f5; }

.bg-white {
  background-color: #fff; }

.hidden-lg {
  display: none; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 26px; }

h1, h2, h3 {
  font-weight: 700;
  font-family: "Proxima Nova", sans-serif; }

.text {
  color: #8a8a8a;
  font-size: 17px;
  line-height: 27px; }
  .text h1, .text h2, .text h3, .text h4, .text h5, .text h6 {
    color: #101010;
    line-height: normal; }
  .text img {
    margin-bottom: 25px; }
  .text p, .text ul, .text ol {
    margin-bottom: 34px; }
  .text ul li {
    padding-left: 20px;
    margin-bottom: 12px; }
    .text ul li:last-of-type {
      margin-bottom: 0; }
    .text ul li:before {
      content: '';
      position: absolute;
      width: 4px;
      height: 4px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      top: 10px;
      left: 0;
      background-color: #c93c46; }
  .text ol li {
    padding-left: 40px;
    line-height: 27px;
    margin-bottom: 8px; }
    .text ol li:last-of-type {
      margin-bottom: 0; }
    .text ol li .count {
      position: absolute;
      top: 0;
      left: 0;
      color: #c93c46; }
  .text h3 {
    margin-bottom: 30px; }
  .text h2 {
    margin-bottom: 25px; }
  .text li {
    position: relative;
    width: 100%; }
  .text table {
    width: 100%; }
    .text table td {
      border-bottom: 1px solid #e5e5e5; }
      .text table td:nth-of-type(1) {
        width: 81%; }
      .text table td:nth-of-type(2) {
        width: 19%; }
    .text table thead td {
      color: #8a8a8a; }
  .text .left {
    float: left;
    margin-right: 40px; }
  .text .right {
    float: right;
    margin-left: 40px; }
